# Node.js
node_modules/

# distributed
dist/

# Output of 'npm pack'
*.tgz

# TypeScript
# *.js
*.map
*.js.map

# Editor
.vscode/
*.code-workspace

# Environment
.env

# macOS
.DS_Store

# Logs and crash reports
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
.jenkins/
node/
.eslintcache/
